In [ ]:
import pandas as pd
df = pd.read_csv("/content/abc2.csv", encoding = "ISO-8859-1")
df.head()

,Sr. No.,Company,Last Price,Change,% Chg,CEPS *,EPS *,PC,PE
0,1.0,Medplus Health,652.8,-1.3,-0.2,0.5,0.1,1450.6,10879.2
1,2.0,Jubilant Ind,386.0,0.4,0.1,0.1,0.1,5514.3,5514.3
2,3.0,The InvestmentÊ,86.9,2.1,2.5,0.9,0.0,93.4,4342.5
3,4.0,Rajesh Exports,754.6,-18.5,-2.4,0.3,0.3,2601.9,2902.1
4,5.0,Max Financial,745.8,0.6,0.1,0.4,0.3,1775.7,2330.6

In [ ]:
df2 = df.sort_values(by=['PE'], ascending = False)
df2.head()

,Sr. No.,Company,Last Price,Change,% Chg,CEPS *,EPS *,PC,PE
0,1.0,Medplus Health,652.8,-1.3,-0.2,0.5,0.1,1450.6,10879.2
1,2.0,Jubilant Ind,386.0,0.4,0.1,0.1,0.1,5514.3,5514.3
2,3.0,The InvestmentÊ,86.9,2.1,2.5,0.9,0.0,93.4,4342.5
3,4.0,Rajesh Exports,754.6,-18.5,-2.4,0.3,0.3,2601.9,2902.1
4,5.0,Max Financial,745.8,0.6,0.1,0.4,0.3,1775.7,2330.6

In [ ]:
df3 = df.sort_values(by=['PC'], ascending = False)
df3.head()

,Sr. No.,Company,Last Price,Change,% Chg,CEPS *,EPS *,PC,PE
1,2.0,Jubilant Ind,386.0,0.4,0.1,0.1,0.1,5514.3,5514.3
3,4.0,Rajesh Exports,754.6,-18.5,-2.4,0.3,0.3,2601.9,2902.1
4,5.0,Max Financial,745.8,0.6,0.1,0.4,0.3,1775.7,2330.6
0,1.0,Medplus Health,652.8,-1.3,-0.2,0.5,0.1,1450.6,10879.2
7,8.0,JITF Infralogis,98.2,4.7,5.0,0.1,0.1,1227.5,1227.5